@media only screen and (min-width: 36.4em) {
    /* ----------------header-------------------------- */
    #formatted-date {
        padding: 5px;
    }
  
    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero img {
        width: 100%;
        height: 370px;
        object-fit: cover;
    }
    .hero button {
        right: 10px;
    }
    .hero h2 {
        font-size: 35px;
    }
    .container {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 40vh 20vh 30vh 160px 250px;
      gap: 10px;
  }
    /* news */
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
  
    .membershiptype_container {
      display: block;
      grid-column: 3/4;
      grid-row: 1/2;
      margin-top: 20px;
      background-color: #331c48;
      margin-top: 15px;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .membershiptype_container h1 {
      color: #d541b5;
  }
  .membershiptype_container h2 {
      color: #6641d5;
      margin-top: 60px;
      margin-bottom: 10px;
  }
  .membershiptype_container li {
      color: #fefefe;
      list-style: none;
  }
  .goldmembership h2{
    color:gold;
  }
  .silvermembership h2{
    color: silver; 
  }
  .bronzemembership h2{
    color:brown;
  }
  
  
  .thankyou_container {
      height: 400px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .thankyou_button {
      margin-left: 38%;
  }
  
  .thankyou_page {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
    /* spotlight */
    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 230px;
        margin: 0;
    }
    .spotlight_1 h2 {
        font-size: 20px;
    }
    .spotlight_1 img {
        width: 30%;
    }
    /* join */
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
        background-color: #f4e9e3;
        text-align: center;
        padding: 15px;
    }
    .join button {
        font-family: "poppins";
        border: none;
        background-color: #1c4839;
        color: #d59c41;
        padding: 5px 15px;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .join button:hover {
        background-color: #d59c41;
        color: #1c4839;
    }
    .join p {
        margin-top: 20px;
    }
    /* weather */
    .weather {
        background-color: #f4e9e3;
    }
    /* --------------------------footer-------------------------------- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .information {
        text-align: left;
    }
    .footer_logo {
        width: 100px;
    }
    .contact_info {
        text-align: right;
    }
    .footer_line {
        grid-column: 1/3;
    }
    /* -----------------------------------------------discover page------------------------------- */
    /* --------information------------- */
    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
  
    .img_container {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img_container picture {
        width: 300px;
    }
    picture {
        position: relative;
    }
    .img_container img {
        display: block;
    }
    .img_card {
        position: absolute;
        bottom: 0; 
        background: rgba(219, 206, 206, 0.5);
        color: #f1f1f1; 
        width: 100%;
        transition: .3s ease;
        opacity:0;
        color: rgb(14, 3, 118);
        font-size: 17px;
        padding: 5px;
        text-align: center;
    }
    picture:hover .img_card {
        opacity: 1;
    }
    /* --------------------------------------------Join Page------------------------------------- */
    .mypage {
        display: grid;
        grid-template-columns: 49% 2% 49%;
        grid-template-rows: 1fr;
        padding: 10px;
    }
    .form_container {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .directory_container.grid .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 15px;
    }
  }
  #list:hover, #grid:hover {
      color: #d59c41;
      border: 2px solid #d59c41;
  }