
  /* -----------------main--------------------------- */
  .container {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 40vh 20vh 30vh 160px 250px;
      gap: 2px;
  }
  /* hero */
  .hero {
      grid-column: 1/3;
      grid-row: 1/4;
  }
  .hero img {
      width: 20%;
      height: 70px;
      object-fit: cover;
  }
  .hero button {
      right: 10px;
  }
  /* news */
  .news {
      grid-column: 1/3;
      
  }
  /* spotlight */
  .spotlight {
      grid-column: 1/3;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 2fr 2fr ;
      grid-template-rows: 10px;
      margin: 0;
  }
  .spotlight_1 h2 {
      font-size: 20px;

  }

p {
    font-size: 10px;
    
}
  .spotlight_1 img {
      width: 60%;
  }
  /* join */
  .join {
      display: block;
      grid-column: 1/3;
      grid-row: 4/5;
      background-color: #052872;
      text-align: center;
      padding: 25px;
  }
  .join button {
      font-family: "poppins";
      border: none;
      background-color: #ac3c61;
      color: #211d2b;
      padding: 5px 5px;
      width: 20%;
      margin-top: 5px;
      border-radius: 5px;
      font-size: 20px;
  }
  .join button:hover {
      background-color: #240973;
      color: #271c48;
  }
  .join p {
      margin-top: 20px;
  }
  /* weather */
  .weather {
      background-color: #26086b;
      text-align: center;
      text-overflow: clip;
  }
  .weather_line img {
    width: 20%;
}
.events{
  background-color: #6641d5;

}

.lastModified{
  font-size: 10px;
}
  /* --------------------------footer-------------------------------- */
  footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
  }
  .information {
      text-align: left;
  }
  .footer_logo {
      width: 100px;
  }
  .contact_info {
      text-align: right;
  }
  .footer_line {
      grid-column: 1/3;
  }
  

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.banner {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}


.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: whitesmoke;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}
.headerdate {
  display: block;
  background-color: #f4e9e3;
  color: #d59c41;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin: 15px 0;
}


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600&family=Darker+Grotesque&display=swap');



body {
  font-size: 14px;
  font-family: "monserrat", Helvetica, sans-serif;
  background-color: gray;
}

header{
  padding: .6rem 5%;
  background-color: blue;
  display: flex;
    color: white;
}

header div {
  margin-left: 10px;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header h2 {
  margin: 0; 
  padding-top:5px, 5px;
  font-size: 1.5rem;
}

header div img {
  width: 80%;
  height: 100;
}


/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: " X ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

/*-------------Main-------------*/
main {
  padding: 0 2%;
  /*display: grid;
  grid-template-columns: 1fr;*/
  font-size: 1rem;
  color:white;
}
  
main section {
  margin: 0.5rem;
  border: 1px solid;
  padding: 0 1rem;
  background-color:gray;
}
  
main section:nth-child(2) {
  display: none;
  margin: 0.5rem;
}
  


.colors {
  border-collapse: collapse;
  margin: 15px;
}

.colors tr td { 
  border:1px solid #000000;
  padding: 6px;
  text-align: center;
  vertical-align: bottom;
  width: 100px;
}

.colors tr {
  height: 200px;
  width: 200px;
}


footer  {
  padding: .5rem 2%;
  background-color: goldenrod;
  text-align: center;
  color: white;
}

  




/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}

#lastModified {
	text-align: center;
	font-size: 10px;
}



body {
	padding: 0;
	margin: 0;

box-sizing: border-box;
font-size:20px;
line-height:1.6;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
"segoe UI", Roboto, Helvetica,'Segoe UI Emoji' Segoe UI symbol,;
}
*, *::before, *:after{
  box-sizing: green;  
  padding:0;
  margin: 0; 
}
  main{
    margin: 1rem  auto;
    width: 90%;
    max-width: 1000px
  }
  select,option,input,label,button{
    padding:0.2rem, 1 rem;
    font-size: 1.2rem;
    color:blue;
  }
    .form-box{
        padding: 0.5rem 0;
        display:flex;
        flex-direction:column;
    }
    .form-box label{
     display: none;
}
.form-box input,
.form-box select,
.form-box textarea{
    flex-basis: 100%;
}
.form-box button{
    margin-left: 6rem;
}   
/*************************
Media Queries
**************************/
@media all and (min-width:500) {
    .form-box{
        flex-direction: row;
    }
    .form-box label{
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;

        
    }
    .form-box input,
    .form-box select,
    .form-box textarea{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .form-box button{
        margin-left: 9rem;

    }
}

@media all and (min-width:600) {
    .form-box{
        flex-direction: row;
    }
    .form-box label{
        display: block
    }
    .form-box input,
    .form-box select,
    .form-box textarea{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .form-box button{
        margin-left: 9rem;
    }
}
    


  
