
body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.banner {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}


.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: whitesmoke;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600&family=Darker+Grotesque&display=swap');



body {
  font-size: 14px;
  font-family: "monserrat", Helvetica, sans-serif;
  background-color: gray;
}

header{
  padding: .6rem 5%;
  background-color: blue;
  display: flex;
    color: white;
}

header div {
  margin-left: 10px;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header h2 {
  margin: 0; 
  padding-top:5px, 5px;
  font-size: 1.5rem;
}

header div img {
  width: 80%;
  height: 100;
}


/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: " X ";
}

.navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

/*-------------Main-------------*/
main {
  padding: 0 2%;
  /*display: grid;
  grid-template-columns: 1fr;*/
  font-size: 1rem;
  color:white;
}
  
main section {
  margin: 0.5rem;
  border: 1px solid;
  padding: 0 1rem;
  background-color:gray;
}
  
main section:nth-child(2) {
  display: none;
  margin: 0.5rem;
}
  

/*---------Color-------------*/
.colors {
  border-collapse: collapse;
  margin: 15px;
}

.colors tr td { 
  border:1px solid #000000;
  padding: 6px;
  text-align: center;
  vertical-align: bottom;
  width: 100px;
}

.colors tr {
  height: 200px;
  width: 200px;
}


footer  {
  padding: .5rem 2%;
  background-color: goldenrod;
  text-align: center;
  color: white;
}

  



/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}

#lastModified {
	text-align: center;
	font-size: smaller;
}




