
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
}
h2 {
    font-family: "Poppins";
    color: #6641d5;
}
/* -------------------------------header--------------------------------- */
header {
  background-color: blueviolet;
  color:white;
  padding: 1%;
}
.logo {
  width: 100%;
  margin-top: 15px;
}
#formatted-date {
  display: block;
  background-color: #f4e9e3;
  color: rgb(59, 82, 165);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin: 15px 0;
}
#banner {
  padding: 10px;
  text-align: center;
}
/* --------------------------------nav----------------------------------- */
nav ul {
  list-style: none;
  font-size: 25px;
  padding: 0;
  margin: 0;
  display: none;
}
nav ul.open {
  display: block;
}
nav ul li a {
  color: #d59c41;
  text-decoration: none;
  font-family: "Poppins";
  border-top: 1px solid #d59c41;
  display: block;
  padding: .8rem 2vw;
  font-weight: bold;
}
nav button {
  margin: .3rem 3vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #d59c41;
}
nav button:hover {
  color: #22009f;
}
nav ul li a:hover {
  background-color: #4a009f;
}
/* --------------------------------main---------------------------------- */
/* hero */
.hero {
  position: relative;
}
.hero img {
  width: 100%;
}
.hero_title {
  position: center;
  top: 1rem;
  left: 10px;
}
.hero h2 {
  font-weight: bold;
  padding: 0 5px;
  font-size: 20px;
  color: #d59c41;
  font-weight: bolder;
  background-color: #f4e9e3;
}
.hero_button {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.hero button {
  border: none;
  background-color: #f4e9e3;
  color: #d59c41;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
.hero button:hover  {
  background-color: #1c4839;
  color: #d59c41;
  cursor: pointer;
}
/* events */
.events {
  background-color: #2e0f0812;
  padding: 20px;
  text-align: absolute;
}
.events img {
  width: 50%;
}
/* weather */
.weather {
  text-align: center;
  padding: 20px;
}
.weather img {
  width: 20%;
}
.weather_line {
  display: flex;
  align-items: center;
  justify-content: absolute;
  gap: 20px;
  padding: 15px;
}
.weather p {
  font-size: 20px;
  font-weight: lighter;
}
.weather hr {
  margin-bottom: 10px;
}
/* news */
.news {
  text-align: center;
  background-color: #f4e9e3;
  padding: 20px;
}
/* join */
.join {
  display: none;
}
/* spotlight */
.spotlight {
  margin: 10px;
  background-color: #f4e9e3;
  padding: 15px;
}
/* spotlight_1 */
.spotlight_1 {
  background-color: #fefefe;
  text-align: center;
  padding: 5px;
}
.spotlight_1 p {
  font-size: 11px;
}
/* spotlight_2 */
.spotlight_2 {
  background-color: #fefefe;
  text-align: center;
  padding: 5px;
}
.spotlight_2 img {
  width: 50%;
}

/* -------------------------------the footer, logo, direction and line -------------- */
footer {
  background-color: #2b1c48;
  color: #2f29;
  padding: 15px;
  text-align: center;
}
.footer_logo {
  width: 20%;
  position: center;
}

.direction {
  text-decoration: none;
  color: whitesmoke;
}
.footer_line {
  margin-top: 15px;
}

/* --------------------------------------discover page------------------------------------------- */
.discover_main {
  padding: 5px;
}
.discover_main h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.discover_container img {
  width: 100%;
  border-radius: 15px;
}
.information img {
  margin: 15px 0;
}
.image_gallery img {
  margin-top: 20px;
}
.img1 {
  width: 50%;
}

/* ---------------------------------------Join Page---------------------------------------------- */
.join_page {
  display: block;
}
.form_container {
  margin-top: 20px;
  background-color: #f4e9e3;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px;
 
}
.form_container h1 {
  color: #d59c41;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}
legend {
  color: #1c4839;
  padding: 10px;
  font-size: 30px;
}
label {
  color: #434d4f;
  padding: 8px;
}
label.top input {
  display: block;
  font-size: 1rem;
  border: 1px solid #1c4839;
  border-radius: 5px;
  padding: .75rem;
  width: 90%;
  max-width: 24rem;
  background-color: rgb(228, 225, 225);
}
label.top input:required {
  border-left: #9f4900 solid 5px;
}
.submitbtn {
  background-color: #9f4900;
  color: #fefefe;
  font-family: "Poppins";
  padding: 21px;
  font-size: 18px;
  border-radius: 15px;
  margin: 10px 0;
  border: aliceblue;
  box-shadow: absolute;
}
.submitbtn:hover {
  background-color: #351c48;
  color: #46d541;
}
.membership_container {
  display: none;
}

.thankyou_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  padding: 50px;
  color: #fefefe;
  font-family: "Roboto";
  background-color: #1c4839;
}
.thankyou_img {
  width: 160px;
  position: relative;
}
.thankyou_h1 {
  color: white;
  margin: 25px 0;
}
.thankyou_p {
  font-size: 30px;
}
.thankyou_page button {
  color: #fefefe;
  background-color: #9f0042;
  font-family: "Poppins";
  font-size: 25px;
  padding: 20px;
  border: none;
  width: fit-content;
  border-radius: 25px;
  margin-top: 50px;
}
.thankyou_button:hover {
  background-color: #d54141;
  color: #1d009f;
  cursor: pointer;
}

.directory {
  padding: 15px;
}

.directory h1 {
  color: #4146d5;
}

.grid_list_button {
  text-align: center;
  margin: 30px 0;
}
#list, #grid {
  font-size: 40px;
  color: #9f4900;
  border: 2px solid #9f4900;
  border-radius: 10px;
  padding: 5px 10px;
}
#list {
  margin-right: 10px;
}
#grid {
  margin-left: 10px;
}

.directory img {
  width: 150px;
}
.directory_container.grid {
  text-align: center;
}

.cards section {
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(162, 145, 145, 0.2), 0 6px 20px 0 rgba(179, 77, 77, 0.892);
}

.directory_container.list img{
  display: none;
}
.directory_container.list h2 {
  color: black;
  font-size: 17px;
}
.directory_container.list section {
  box-shadow: none;
}
.directory_container.list section:nth-child(even) {
  background-color: #c2b0a200;
}