@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');



  table {
    border-collapse: collapse;
    border: 5px solid rgb(149, 11, 11);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  td, th  {
    border: 1px solid rgb(33, 1, 81);
    padding: 20px 20px;
  }
  tr:nth-of-type(odd){
    background-color: rgb(213, 191, 191);
  }
  td {
    text-align: center;
  }

  caption {
    padding: 20px;
  }
  
  /* Important below */
  
  table:nth-of-type(1){
    background-color: rgb(73, 19, 117);
  }
  
  
  