
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500;600&family=Darker+Grotesque&display=swap');


body {
  background-color: rgb(109, 99, 109);
  font-family: 'montserrat', sans-serif;
  padding: 5px 25px;
  font-size: 30px;
  margin: 0;
  color: 00000000;
}

/* FONTS & STYLES */

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #555358; 
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 32px;
  text-align: center;
}

h2 {
  font-family: 'montserrat', serif;
  color: black; 
  font-size: 35px;
}


p {
  font-family: 'montserrat', serif;
  color: #555358; 
  font-size: 25px;
  font-weight: 400;
}

a ul {
  text-decoration: none;
}


/*  HOME PAGE GRID LAYOUT */


header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  Background: #ffffff;
  background:  #9dac2dd2;
}


main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #ffffff;
}

.images-div{
  background:  #0a9056d2;
}

.images-paul {
  grid-row: 1;
  grid-column: 1/4;
  border-radius: 14px;
  border-style: solid;
  border-color: white;
  width:100px; 
  height: auto;
}

.images-paul img {
  grid-column: 2;
  grid-row: 1;
  margin: 1em 1em 1em 1em;
  padding: 0px;
  justify-self: right;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #121d4d; 



}

h1 {
  color: #6a5b5b; 
}

.profile {
  grid-column: 2/5;
  grid-row: 1;
  text-align: left;
  text-shadow: 2px 2px 4px #2d2c33;
  padding-top: 2.5em;
  margin-left: 2em;

}

.course-list{
  grid-row: 2;
  grid-column: 2/5;
}

.lesson-content {
  grid: row 3;
  grid-column: 2/5;
}

.lesson-content {
  color: #99e563; 
  font-size: 18px;
  font-weight: 350;
}
.course-list  {
  border-color: #190833; 
  border-style: dashed;
  border-width: thin;

}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  color: #ffffff;


}

footer p{
  grid-row: 4;
  grid-column: 2/5;
  background: #1d0e34; 
  text-align: justify;
  border-radius: 14px;
  padding: 1.5em;
  font-size: 18px;
  color: #ffffff;
}

